{% extends 'base.html' %}

{% block content %}
<div class="w-full flex mt-5 justify-center">
    <div class="bg-white w-5/12 rounded-lg">
        <h1 class="font-bold text-3xl text-center pb-5 pt-10 px-5">Change Password</h1>
        <form method="post" class="px-8 pt-6 pb-8 mb-4">
            {% csrf_token %}

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="old_password">
                    Old Password*
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border rounded-md border-gray-500 focus:outline-none focus:shadow-outline" name="old_password" id="old_password" type="password" required placeholder="Old Password">
                {% if form.old_password.errors %}
                {% for error in form.old_password.errors %}
                <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="new_password1">
                    New Password*
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border rounded-md border-gray-500 focus:outline-none focus:shadow-outline" name="new_password1" id="new_password1" type="password" required placeholder="New Password">
                {% if form.new_password1.errors %}
                {% for error in form.new_password1.errors %}
                <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="new_password2">
                    Confirm New Password*
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border rounded-md border-gray-500 focus:outline-none focus:shadow-outline" name="new_password2" id="new_password2" type="password" required placeholder="Confirm New Password">
                {% if form.new_password2.errors %}
                {% for error in form.new_password2.errors %}
                <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </div>

            <div class="flex w-full justify-center">
                <button class="bg-blue-900 text-white hover:text-blue-900 hover:bg-white border border-blue-900 font-bold px-4 py-2 rounded-lg" type="submit">
                    Change Password
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
